* {
  margin: 0;
  padding: 0;
}

  html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  }

a {
  color: rgba(146, 0, 108,1);;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  &:hover{
    color: #f9f871;
    border-color: #f9f871;
    transition: border-bottom ease-in .5s;
    }
}

#component-container {
  padding: 15px 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 0rem 0rem 4rem 0rem;

}

#app {
  padding: 15px 1rem;
}

body {
  min-height: 100vh;
  background: linear-gradient(315deg,#92006c,#d2245a 50%,#ffb448);
  position:relative;
  
  .dark-theme {background: #121212;
  color: #d3cec4;
  height: 100%
  }
}

.fa-rainbow {
  background-color: linear-gradient(315deg, #92006c 0%, #d2245a 50%, #ffb448 100%);
}

.fa-moon {
  color: #d3cec4;
  background-color: #121212;
}
