.faq {
    background-color: var(--color__core__secondary);
    color: var(--color__standard__text);
    display: block;
    justify-content: center;
    align-items: center;
    font: var(--text-font);

   .faq-heading {
       padding-top: 6rem;
       padding-left: 6rem;
       text-align: left;
       margin: 5px;
   }

   ul {
       list-style: none;
       
   } 
   button {
        display: flex;
        width: 85vw;
        justify-content: space-between;
   }
   
   li {
    
     border-bottom: 1px solid rgba(166, 158, 146, 0.6);
     padding: 20px 0;
     margin: 0 6rem;

   }
    #first-item {
       border-top: 1px solid rgba(166, 158, 146, 0.6);
       border-bottom: 1px solid rgba(166, 158, 146, 0.6);
   }

   h4 {
       margin: 1rem -1rem;
       text-align:left;
       
   }

   p {
       color: var( --color__faint__text);
       display: none;
       padding-left: 0.5rem;
   }

   #angle-down {
    width: 16px;
    height: 16px;
    align-self: flex-end; 
   }

   .open  {
    display: block;
}

   .rotated {
    transform: rotate(180deg);
}
}

  
   
