@media (min-width: 1062px) {
  #navbar {
    position: fixed;
    background-color: #fff;
    top: 0;
    display: flex;
    width: 100%;
    height: 5rem;
    font-size: 1.15rem;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    .img-container {
      margin: 0 1rem 0 1.25rem;
      display: flex;
      align-items: center;
      img {
        height: 2rem;
      }
    }
    .img-container:hover {
      cursor: pointer;
    }
    // START nav-list
    .nav-list {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .dropdown {
        position: relative;
      }
      .dropdown-why:hover #why-features-menu {
        display: flex;
        z-index: 2;
      }
      .dropdown-feature:hover #feature-features-menu {
        display: flex;
        z-index: 2;
      }
      .dropdown-support:hover #support-features-menu {
        display: flex;
        z-index: 2;
      }
      .dropdown-vertrieb:hover #vertrieb-features-menu {
        display: flex;
        z-index: 2;
      }
      #feature-features-menu:hover {
        display: flex;
        z-index: 2;
      }
      #why-features-menu:hover {
        display: flex;
        z-index: 2;
      }
      #support-features-menu:hover {
        display: flex;
        z-index: 2;
      }
      #vertrieb-features-menu:hover {
        display: flex;
        z-index: 2;
      }
      .nav-item {
        margin: 0 1rem;
        height: 100%;
        display: flex;
        align-items: center;
        .feature-menu {
          top: 76px;
          left: -2rem;
          position: absolute;
          display: none;
          .feature-list {
            display: flex;
            flex-direction: column;
            width: 17rem;
            justify-content: space-between;
            list-style: none;
            background-color: #fff;
            font-size: 1rem;
            letter-spacing: initial;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            padding: 1rem 0;
            li {
              padding: 0.5rem;
              a {
                padding-left: 1rem;
              }
            }
            li:hover {
              background-color: var(--color__core__secondary);
            }
          }
          .why-feature-list .top-list-item {
            font-weight: bolder;
            a {
              display: inline-block;
              border-bottom: 1px solid #ddd;
              width: 100%;
              height: 2rem;
              padding: 0;
              margin-left: 1rem;
            }
          }
          .why-feature-list .top-list-item:hover {
            background-color: inherit;
            cursor: default;
          }
          .why-feature-list .top-list-item a:hover {
            cursor: default;
          }
        }
      }
      .nav-item:hover {
        border-bottom: 3px solid #000;
        border-top: 3px solid rgba(0, 0, 0, 0);
      }
      .divider {
        margin-left: auto;
      }
    }
    // END nav-list
    .start-button {
      margin: 0 1.25rem;
      flex: 0 0 auto;
      button {
        padding: 0.4rem 1.75rem;
        background-color: var(--color__core__accent);
        color: white;
        text-decoration: none;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 1rem;
      }
      button:hover {
        cursor: pointer;
        background-color: var(--color__inverse__core__accent);
      }
    }
  }
  // END navbar
  #navbar-mobile {
    display: none;
  }
}

@media (max-width: 1061px) {
  #navbar {
    display: none;
  }

  #navbar-mobile {
    position: fixed;
    background-color: #fff;
    top: 0;
    display: flex;
    height: 60px;
    align-items: center;
    width: 100vw;
    #nav-button {
      padding: 0;
      width: 24px;
      height: 10px;
      margin: 25px 18px 25px 22px;
      position: absolute;
      right: 0;
      border-bottom: 2px solid #000;
      border-top: 2px solid #000;
    }
    .img-container {
      margin-left: 1.25rem;
      img {
        height: 2rem;
      }
    }
  }
}
