@media screen and (max-width: 1061px) {
  // css rules that only apply for small screens
  #navbar {
    display: none;
  }

  #navbar-mobile {
    position: fixed;
    background-color: #fff;
    top: 0;
    display: flex;
    height: 60px;
    align-items: center;
    width: 100vw;
    #nav-button {
      padding: 0;
      width: 24px;
      height: 10px;
      margin: 25px 18px 25px 22px;
      position: absolute;
      right: 0;
      border-bottom: 2px solid #000;
      border-top: 2px solid #000;
    }
    .img-container {
      margin-left: 1.25rem;
      img {
        height: 2rem;
      }
    }
  }
}
