.testimonials {
  .first-container {
    display: flex;
    flex-direction: column;
    height: 305px;
    background-color: #1e1919;
    color: white;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: underline;
  }
}

.logos {
  display: flex;
  justify-content: center;
  background-color: #1e1919;
  img {
    width: 150px;
    height: 150px;
    border: 1px solid #1e1919;
    padding: 10px;
    img:hover {
      border: 10px solid white;
    }
  }
}

.testimonial-container {
  width: 100%;
  background-color: #1e1919;
  padding-left: 100px;
  padding-right: 100px;
  position: relative;

  .right-column {
    width: 100%;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 1.5rem;
  }

  #testimonial-link {
    padding-left: 10px;
    text-decoration: underline;
    #testimonial-link:hover {
      border: 2px solid #423e3e;
    }
  }

  #testimonial-text {
    display: flex;
    justify-content: center;
  }
}

.testimonials-title {
  color: white;
}

.second-container {
  padding-bottom: 100px;
  background-color: #1e1919;
}

.testimonial-grid {
  height: 400px;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .grid-image {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: orange;
    img {
      width: 50%;
      object-fit: contain;
    }
  }
  .grid-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
  }
}

.right-arrow,
.left-arrow {
  width: 6rem;
  position: absolute;
  top: 50%;
  left: 100px;
}

.right-arrow {
}

.grid-image {
  background-color: white;
}
