.trial-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  //  grid-template-areas: "left-box right-box right-box";
  padding: 5px 5px 5px 5px;
  background-color: rgb(30, 25, 25);
  font-size: 1rem;
  font-weight: 50;
  align-items: center;

  h2 {
    color: white;
    font-size: 2rem;
    margin: 0;
  }

  .trial-header {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 50px 30px 40px;
  }
  .trial-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 0px 30px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: black;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: hsla(217, 100%, 50%, 1);
    padding: 1.3rem;
    width: 100%;

    i {
      margin-left: auto;
    }

    &:hover {
      background-color: hsla(217, 100%, 69%, 1);
    }
  }
}

@media screen and (max-width: 1000px) {
  .trial-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    //grid-template-columns: 1fr;
    //grid-template-rows: 1fr 1fr;
    background-color: rgb(30, 25, 25);
    font-size: 1rem;
    font-weight: 100;
  }
  .trial-header {
    padding: 25px 25px;
  }
  .trial-button {
    width: 80%;
    margin: 0px 25px 50px 0px;
  }
}
