:root {
  --header-font: "Space Grotesk", sans-serif;
  --text-font: "Roboto", sans-serif;

  --hero-background-title: rgb(247, 245, 241);
  --action-text-background: rgb(238, 233, 226);

  --color__core__primary: #1e1919;
  --color__core__secondary: #f7f5f2;
  --color__core__accent: #0061fe;

  --color__inverse__core__primary: #f7f5f2;
  --color__inverse__core__secondary: #1e1919;
  --color__inverse__core__accent: #3984ff;

  --color__standard__text: #1e1919;
  --color__faint__text: rgba(82, 74, 62, 0.75);
  --color__disabled__text: rgba(82, 74, 62, 0.4);

  --color__standard__border: rgba(166, 158, 146, 0.6);
  --color__faint__border: rgba(166, 145, 113, 0.2);
  --color__disabled__border: #c0bbb4;

  --color__standard__background: #fff;
  --color__faint__background: #f7f5f2;
  --color__disabled__background: #c0bbb4;
  --color__elevated__background: #fbfaf9;

  --color__inverse__standard__text: #f7f5f2;
  --color__inverse__faint__text: rgba(247, 245, 242, 0.6);
  --color__inverse__disabled__text: rgba(247, 245, 242, 0.3);

  --color__inverse__standard__border: rgba(142, 139, 135, 0.5);
  --color__inverse__faint__border: rgba(142, 139, 135, 0.2);
  --color__inverse__disabled__border: rgba(247, 245, 242, 0.3);
  --color__inverse__standard__background: #161313;
  --color__inverse__faint__background: #242121;
  --color__inverse__disabled__background: #d8d3cb;
  --color__inverse__elevated__background: #2b2929;
  --color__attention__text: #0061fe;
  --color__success__text: #2d8000;
  --color__alert__text: #9b0032;
  --color__warning__text: #9b6400;

  --color__attention__background: rgba(0, 97, 254, 0.16);
  --color__success__background: rgba(45, 128, 0, 0.12);
  --color__alert__background: rgba(155, 0, 50, 0.1);
  --color__warning__background: rgba(250, 210, 75, 0.24);
  --color__attention__background--faint: rgba(0, 97, 254, 0.08);

  --color__success__border: #2d8000;
  --color__alert__border: #9b0032;
  --color__attention__border: #0061fe;
  --color__warning__border: #9b6400;
  --color__success__border--faint: rgba(45, 128, 0, 0.32);
  --color__alert__border--faint: rgba(155, 0, 50, 0.32);
  --color__attention__border--faint: rgba(0, 97, 254, 0.32);
  --color__warning__border--faint: rgba(155, 100, 0, 0.32);

  --color__inverse__attention__text: #3984ff;
  --color__inverse__success__text: #b4dc19;
  --color__inverse__alert__text: #fa551e;
  --color__inverse__warning__text: #fad24b;

  --color__inverse__attention__background: rgba(57, 132, 255, 0.4);
  --color__inverse__success__background: rgba(180, 220, 25, 0.3);
  --color__inverse__alert__background: rgba(250, 85, 30, 0.3);
  --color__inverse__warning__background: rgba(250, 210, 75, 0.3);
  --color__inverse__attention__background--faint: rgba(57, 132, 255, 0.16);

  --color__inverse__success__border: #b4dc19;
  --color__inverse__alert__border: #fa551e;
  --color__inverse__attention__border: #3984ff;
  --color__inverse__warning__border: #fad24b;
  --color__inverse__success__border--faint: rgba(180, 220, 25, 0.4);
  --color__inverse__alert__border--faint: rgba(250, 85, 30, 0.4);
  --color__inverse__attention__border--faint: rgba(57, 132, 255, 0.4);
  --color__inverse__warning__border--faint: rgba(250, 210, 75, 0.4);

  --color__opacity--darken1: rgba(166, 145, 113, 0.14);
  --color__opacity--darken2: rgba(166, 145, 113, 0.24);
  --color__opacity--darken3: rgba(166, 145, 113, 0.32);

  --color__utility__focusring: rgba(0, 97, 254, 0.5);
  --color__utility__overlay: rgba(217, 212, 204, 0.7);

  --color__brand__azalea: #cd2f7b;
  --color__brand__banana: #fad24b;
  --color__brand__canopy: #0f503c;
  --color__brand__cloud: #b4c8e1;
  --color__brand__coconut_200: #fff;
  --color__brand__coconut_300: #faf9f7;
  --color__brand__coconut: #f7f5f2;
  --color__brand__coconut_500: #f2eee8;
  --color__brand__coconut_600: #eee9e2;
  --color__brand__crimson: #9b0032;
  --color__brand__gold: #9b6400;
  --color__brand__graphite_200: #2b2929;
  --color__brand__graphite_300: #242121;
  --color__brand__graphite: #1e1919;
  --color__brand__graphite_500: #161313;
  --color__brand__graphite_600: #000;
  --color__brand__lime: #b4dc19;
  --color__brand__navy: #283750;
  --color__brand__ocean: #007891;
  --color__brand__orchid: #c8aff0;
  --color__brand__pink: #ffafa5;
  --color__brand__plum: #78286e;
  --color__brand__rust: #be4b0a;
  --color__brand__sunset: #fa551e;
  --color__brand__tangerine: #ff8c19;
  --color__brand__zen: #14c8eb;
  --spacing__base_unit: 8px;
  /* spacing */
  --spacing__unit--0: 0;
  --spacing__unit--0_5: calc(var(--spacing__base_unit) / 2);
  --spacing__unit--1: var(--spacing__base_unit);
  --spacing__unit--1_5: calc(var(--spacing__base_unit) * 1.5);
  --spacing__unit--2: calc(var(--spacing__base_unit) * 2);
  --spacing__unit--3: calc(var(--spacing__base_unit) * 3);
  --spacing__unit--4: calc(var(--spacing__base_unit) * 4);
  --spacing__unit--6: calc(var(--spacing__base_unit) * 6);
  --spacing__unit--8: calc(var(--spacing__base_unit) * 8);
  --spacing__unit--9: calc(var(--spacing__base_unit) * 9);
  --spacing__unit--12: calc(var(--spacing__base_unit) * 12);
  --spacing__unit--15: calc(var(--spacing__base_unit) * 15);
  --spacing__unit--19: calc(var(--spacing__base_unit) * 19);

  --color__opacity--1: var(--color__opacity--darken1);
  --color__opacity--2: var(--color__opacity--darken2);
  --color__opacity--3: var(--color__opacity--darken3);
  --color__opacity--neutral-1: rgba(0, 0, 0, 0.08);
  --color__opacity--neutral-2: hsla(0, 0%, 100%, 0.16);

  --filter--1: none;
  --filter--0_5: none;
}

:root {
  /* fonts */
}
